#obj:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}
#obj img {
  display: inline-block;
  width: 202px;
  height: 136px;
  -webkit-transition: .3s;
  transition: .3s;
}
.change1 {  
  position: relative;
  overflow: hidden;
}
.change2 {  
  position: relative;
  overflow: hidden;
}
.change3 {  
  position: relative;
  overflow: hidden;
}
.change4 {  
  position: relative;
  overflow: hidden;
}
#obj:hover {
  -webkit-transform: scale(2);
  transform: scale(1.08);
}

#divider {
  padding: 0px;
  padding-bottom: 30px;
}
#divider .touch {
  margin-top: 80px;
}
#divider h2 {
  text-align: left;
}

#contact .addressc address .fa {
  background: #28a7e9;   
}

#contact ul li a:hover {
  color: white;
  text-decoration: none;
}
#contact a {
  color: #28a7e9;
text-decoration: none;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}